<ng-container *ngIf="list.length > 0">
  <div class="wrapper">
    <ng-container *ngFor="let item of list; trackBy: itemId">
      <div class="item {{ isActive(item) ? 'active' : '' }}" (click)="selectItem(item)">
        <span class="item-label">{{ item.tbsCertificate.subject.commonName }}</span><span *ngIf="isActive(item)"
          class="item-carret">></span>
      </div>
    </ng-container>
  </div>
  <div class="button-wrapper">
    <button (click)="onAddNew()" *ngIf="mode === 'select'">Add</button>
    <button (click)="onCancel()" *ngIf="mode === 'drop'">Cancel</button>
  </div>
</ng-container>
