.wrapper {
  border: 1px solid #000;
  overflow: auto;
  max-height: 200px;
}

.item {
  padding: 5px 10px;
}

.item:not(:last-child) {
  border-bottom: 1px solid #000;
}

.item.active {
  background: #d4d4d4;
}

.item.active > .item-carret {
  float: right;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  min-width: 200px;
  margin: 20px;
  padding: 5px;
}
